<section id="introduction">
	<h2>Introduction</h2>
	<h3>What is version control?!</h3>
	<p>
		<strong>Have you ever had to work on a project with a group of people?</strong>
		</br>
		Sometimes when collaborating with a group, everyone wants to work at once. A few people might even be working on the same document at the same time! When this happens, people make changes to the same things-- this can get tricky when everyone gets back together and needs to produce just a single document.
	</p>
	<p>
		<strong>Have you ever had to work on a big project for a long time?</strong>
	</br>
		Sometimes you just want to dive in and experiment! But you worry that making changes might negatively impact the progress you've already made... so you make multiple copies to keep track. And next thing you know keeping track of those copies gets super confusing! 
	</p>
	<p>Version control is a system that fixes these problems. The system will help keep track of your changes, and your team members changes while you work on a project; giving you the option to submit changes, merge your work with others, or just roll back to an earlier version.</p>
	<p>From <a href="http://git-scm.com/book/en/Getting-Started-About-Version-Control">Github:</a></p>
	<blockquote>
		Version control is a system that records changes to a file or set of files over time so that you can recall specific versions later. Even though the examples in this book show software source code as the files under version control, in reality any type of file on a computer can be placed under version control.
	</blockquote>

	

	<h3>Enter Git and Github.</h3>
	<p>Git is a set of tools for local version control. Git helps you keep track of your changes on your computer. It also lets you push changes up to a remote, like Github.</p>

	<p>Github is website that hosts your code and allows remote version control. With Github you can set up teams, track everyone's work and changes, request to make changes to someone else's project, and make notes about your teammates' work.</p>

	<p>If you want to learn more about the difference between git and github, check out <a href="http://www.jahya.net/blog/?2013-05-git-vs-github">this article</a></p>
	<h3>Get Situated</h3>
	<p>
		Read <a href="http://git-scm.com/book/en/Getting-Started-About-Version-Control">Chapter 1.1 About Version Control</a> and <a href="http://git-scm.com/book/en/Getting-Started-Git-Basics">Chapter 1.3 Git Basics</a>
	</p>
</section>