<section id="objectives">
	<div id="background"></div>
	<h2>Objectives:</h2>
	<ul>
		<li>Have a basic understanding of what version control is</li>
		<li>Understand what git and github are, and how they are different</li>
		<li>Get a working version of Git on your system with your personal identity</li>
		<li>Understand and be able to perfom all basic local Git operations: creating/cloning a repository, making changes, commiting changes, and viewing history</li>
	</ul>
</section>