<section id="setup">
<h2>Setup</h2>
<ol>
<li>
	<a href="http://git-scm.com/download/mac" class="btn btn-large btn-primary">Download Git Command Line Tools</a>
	<a href="https://central.github.com/mac/latest" class="btn btn-info">Download Git OSX App</a>
</li>
<li>
	<p>
		Now let's set up your local installation of git so that it knows who you are!
	</p>
	<pre>
$ git config --global user.name "Sandi Metz"
$ git config --global user.email sandimetz@example.com</pre>
</li>
<li>
	<h3>Github Setup</h3>
	<p>
		Go to [http://github.com] and create a new user.
	</p> 
</li>
</ol>
</section>