<section id="tutorials">
<h2>Interactive Tutorials</h2>
<ol>
	<li>
	<p>
		<a href="http://trygit.com">trygit.com</a>
		Don't forget to scroll down and look at the Advice box on the lower right
	</p>
	</li>
</ol>
</section>